.container {
	@extend %post;
	max-width: $size__max-width;
	padding: 0 40px;
	// Set max-width here

	@include media($break960) {
		padding: 0 20px;
	}
}

.content-area {
	@include span-columns(8);
	padding-right: 40px;

	@include media($tablet) {
		@include span-columns(8);
		padding-right: 0;
	}
}

.site-content {
	padding: 40px 0;
}

.site-main {
}

.site-content .widget-area {
	@include span-columns(4);
	overflow: hidden;

	@include media($tablet) {
		@include span-columns(8);
	}
}

.site-footer {
	@include span-columns(12);
	clear: both;
}
