h1, h2, h3, h4, h5, h6 {
	font-family: $font__title;
	font-weight: normal;
	clear: both;
	-webkit-font-smoothing: antialiased;
}

h1 {
	@include font-size(2.5);

	@include media($mobile) {
		@include font-size(2);
		line-height: 1.4;
	}
}

h2 {
	@include font-size(2);

	@include media($mobile) {
		@include font-size(1.75);
	}
}

h3 {
	@include font-size(1.75);

	@include media($mobile) {
		@include font-size(1.5);
	}
}

h4 {
	@include font-size(1.5);

	@include media($mobile) {
		@include font-size(1.25);
	}
}

h5 {
	@include font-size(1.25);
}

h6 {
	@include font-size(1);
	text-transform: uppercase;
}
