/*!
The Authority Editor Styles
*/
/*--------------------------------------------------------------
# Bourbon
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*--------------------------------------------------------------
# Mixins and Site
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #2e3641;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  clear: both;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 40px;
  font-size: 2.5rem;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.4;
  }
}

h2 {
  font-size: 32px;
  font-size: 2rem;
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 28px;
  font-size: 1.75rem;
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

@media screen and (max-width: 640px) {
  h4 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
}

p {
  margin-bottom: 1em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
  padding-left: 1em;
  border-left: 3px solid #f46060;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}
