#primary-menu,
#secondary-menu {
	> .menu-item-has-children {
		> a {
			&:after {
				content: '\f0d7';
				font-family: fontAwesome;
				margin-left: 0.5em;
			}
		}
	}
}

.main-navigation {
	@include font-size(1);
	clear: both;
	display: block;

	@include media($break960) {
		display: none;
	}

	.callout-nav {
		padding: 0 20px;
		//background: $color__primaryShade;
		background: $color__primary;
		border-radius: 5px;

		&:hover {
			background: $color__primaryShade;

			a {
				&:before {
					display: none;
				}
			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			margin: 0 1.5em;

			@include media($break1023) {
				margin: 0 1.25em;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&.menu-item-has-children, &.page_item_has_children {
				&:hover,
				&.focus {
					a {
						&:before {
							display: none;
						}
					}
				}
			}

			&:hover,
			&.focus {
				a {
					&:before {
						@include transform(scale3d(1, 1, 1));
						@include transition-duration(0.4s);
						@include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
					}
				}
			}

			a {
				color: $white;
				padding: .625em 0;

				&:before {
					@include transition(transform 0.1s);
					@include transform(scale3d(0, 1, 1));
					content: '';
					//background-color: $color__primaryShade;
					background-color: $color__primary;
					width: 100%;
					height: 3px;
					position: absolute;
					bottom: 0;
					left: 0;
				}

			}
		}

		ul {
			@include transition(opacity 0.1s, top 0.1s);
			background-color: $white;
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			opacity: 0;

			&:before {
				@include transition(transform 0.1s);
				@include transform(scale3d(0, 1, 1));
				content: '';
				//background-color: $color__primaryShade;
				background-color: $color__primary;
				width: 100%;
				height: 3px;
				position: absolute;
				top: -3px;
				left: 0;
			}

			li {
				margin: 0;

				a {
					color: $color__secondaryShade;
					padding: 1em;

					&:hover {
						background-color: rgba(0,0,0,0.05);
					}

					&:before {
						display: none;
					}
				}
			}

			ul {
				left: -999em;
				top: 0;

				&:after {
					display: none;
				}
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 280px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			@include transition-duration(0.5s);
			@include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
			top: 2.75em;
			left: 50%;
			margin-left: -140px;
			opacity: 1;

			li:hover > ul,
			li.focus > ul {
				left: auto;
				margin-left: 0;
			}

			ul {
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				opacity: 1;
				background-color: rgba(0,0,0,.05);
				border-top: 1px solid rgba(0,0,0,.05);
				border-bottom: 1px solid rgba(0,0,0,.05);

				&:before {
					display: none;
				}

				li {
					a {
						padding: .5em 1.5em;
					}

					li {
						a {
							padding: .5em 2em;
						}
					}
				}

			}

			&:before {
				@include transform(scale3d(1, 1, 1));
				@include transition-duration(1s);
				@include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
			}
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.secondary-navigation {
	@include clearfix;
	@include font-size(.875);
	padding: 5px 0;
	float: left;

	#secondary-menu {
		> li {
			float: left;
			margin-right: 20px;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				.sub-menu {
					display: block;
				}
			}

			> .sub-menu {
				display: none;
				position: absolute;
				//background: $color__primaryShade;
				background-color: $color__primary;
				width: 200px;
				margin-left: -1em;
				z-index: 2;

				li {
					padding: 0.5em 1em;
					margin-bottom: 0;

					li {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	li {
		&:hover {
			.sub-menu {
				display: block;
			}
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		a {
			color: $white;
			text-decoration: none;

			&:hover {
				color: $color__primaryShade;
			}
		}
	}
}

#mobile-navigation:not( .mm-menu ) {
   display: none;
}

/*************************
Hamburger button
**************************/
.hamburger-button {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    z-index: 4;
	display: none;
	position: relative;;
	//top: 50%;
	//right: 0;

	@include media($break960) {
		display: block;
		//right: 10px;
	}

	@include media($mobile) {
		//margin-top: -20px;
	}

	span,
	&:before,
	&:after {
		@include transition(none 0.5s ease 0.5s);
		@include transition-property(transform, top, bottom, right, opacity);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in);
		@include transition-delay(0.5s);
		background: $color__primary;
		content: '';
		display: block;
		width: 30px;
		height: 5px;
		position: absolute;
		right: 7px;
	}

	&:before {
		top: 10px;
	}

	span {
		top: 20px;
	}

	&:after {
		top: 30px;
	}
}

.mm-opening {
	.hamburger-button {

		&:before {
			@include transform(rotate(45deg));
			top: 20px;
		}

		span {
			//right: -50px;
			opacity: 0;
		}

		&:after {
			@include transform(rotate(-45deg));
			top: 20px;
		}
	}
}

.aty-post-navigation {
	padding: 0 40px;

	@include media($mobile) {
		padding: 0 20px;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	@include font-size(1);

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
