html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

.edd-checkout {
	.entry-title {
		position: absolute;
		clip: rect(1px,1px,1px,1px);
	}
}

.entry-title,
.page-title {
	margin: 0;

	a {
		color: $color__text-main;

		&:visited {
			color: $color__text-main;
		}

		&:hover,
		&:focus {
			color: $color__primary;
		}
	}
}

.page-title {
	margin-bottom: 20px;
}

blockquote {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

#edd-purchase-button, .edd-submit, input[type=submit].edd-submit, .edd-submit.button, .edd-submit.button.gray, .edd-submit.button.blue {
	@include font-size(1);
	font-weight: normal;
	background: $color__primary;
	border-color: $color__primary;
	border-radius: 5px;
	padding: 0.625em 1em;
	color: $white;

	&:visited {
		background: $color__primary;
		border-color: $color__primary;
	}

	&:hover,
	&:focus {
		background: $color__primaryShade;
		border-color: $color__primaryShade;
	}
}
